In [2]:
import pandas as pd

In [36]:
df = pd.read_csv('Dataset2(1).csv')

df

,Unnamed: 0,Groserias,Vulgar,Agresivo,Ofensivo
0,0,@alitomorenoc @ciudadanochi VALV pinche doblad...,1,0,1
1,1,@AlexaStyy Alfin alguien lo dijo que se joda e...,1,1,1
2,2,Pinch√© pendejo neta,1,0,1
3,3,Pinche clima estaba soleado hace 15 min. ¬™ üôÉ,1,0,0
4,4,Siento que ma√±ana no m√°s me va a hervir la pin...,1,1,0
...,...,...,...,...,...
6042,6042,C√°llate el hocicoooooooooo üòçüòçüòç https://t.co/z5...,0,1,0
6043,6043,@09_alvaro_ callate ya si fue una calle,0,0,0
6044,6044,@Neltiagoeditsss @IsabelaOrtega15 @leslie_18or...,1,1,0
6045,6045,@JosAlbertGlezS Ay t√∫ c√°llate üòí,0,1,0
6046,6046,@jgnaredo Ayyyyyy por favor ya dejen lo de Fri...,1,1,0

In [44]:
new_df = df[['Groserias']]
new_df

                                              Groserias
0     @alitomorenoc @ciudadanochi VALV pinche doblad...
1     @AlexaStyy Alfin alguien lo dijo que se joda e...
2                                   Pinch√© pendejo neta
3          Pinche clima estaba soleado hace 15 min. ¬™ üôÉ
4     Siento que ma√±ana no m√°s me va a hervir la pin...
...                                                 ...
6042  C√°llate el hocicoooooooooo üòçüòçüòç https://t.co/z5...
6043            @09_alvaro_ callate ya si fue una calle
6044  @Neltiagoeditsss @IsabelaOrtega15 @leslie_18or...
6045                    @JosAlbertGlezS Ay t√∫ c√°llate üòí
6046  @jgnaredo Ayyyyyy por favor ya dejen lo de Fri...

[6047 rows x 1 columns]

In [50]:
import re
import unidecode
from tqdm import tqdm

def clean_tweet(tweet):
    tweet = tweet.lower()
    tweet = unidecode.unidecode(tweet)  # Normalizar caracteres con tildes
    tweet = re.sub(r'http\S+', '', tweet)  # Eliminar URLs
    tweet = re.sub(r'@\w+', '', tweet)  # Eliminar menciones
    tweet = re.sub(r'#\w+', '', tweet)  # Eliminar hashtags
    tweet = re.sub(r'[^\w\s]', '', tweet)  # Eliminar caracteres especiales
    return tweet.strip()

tqdm.pandas()
df['clean_tweet'] = df['Groserias'].progress_apply(clean_tweet)

new_df = df[['clean_tweet']]
new_df
new_df[['clean_tweet']].sample(5)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 6047/6047 [00:00<00:00, 85380.49it/s]

                                            clean_tweet
2437  que no le digan que no le cuenten  le presenta...
830   payasos al dia como siempre  tan iluso jr tan ...
3076                             vamos   halamadrid hdp
641         tienes todos la razon vamos pri animo alito
3305                            tremendo idiota bipolar

In [58]:
new_df

                                            clean_tweet
0        valv pinche doblado\nte llegaron al precio ogt
1     alfin alguien lo dijo que se joda esa pinche v...
2                                   pinche pendejo neta
3             pinche clima estaba soleado hace 15 min a
4     siento que manana no mas me va a hervir la pin...
...                                                 ...
6042                         callate el hocicoooooooooo
6043                        callate ya si fue una calle
6044  wey ya callate tiene horas que murio el pleito...
6045                                      ay tu callate
6046  ayyyyyy por favor ya dejen lo de frida sofia l...

[6047 rows x 1 columns]

In [ ]:
df_conteo = df_new.groupby('Vulgar')['clean_tweet'].count().reset_index()
df_conteo

In [ ]:
df_conteo2 = df_new.groupby('Ofensivo')['clean_tweet'].count().reset_index()
df_conteo2

In [ ]:
filtered_df = df_new[(df_new['Vulgar'] == 1) & (df_new['Ofensivo'] != 1)]


if len(filtered_df) > 500:
    # Obtener los √≠ndices de las primeras 500 filas que cumplen la condici√≥n
    indices_to_drop = filtered_df.index[:500]
else:
    # Si hay menos de 500 filas, eliminarlas todas
    indices_to_drop = filtered_df.index

# Eliminar las filas del DataFrame original
df_new.drop(indices_to_drop, inplace=True)

In [ ]:
df_conteo = filtered_df.groupby('Vulgar')['clean_tweet'].count().reset_index()
df_conteo

In [ ]:
df_conteo = df_new.groupby('Vulgar')['clean_tweet'].count().reset_index()
df_conteo

In [ ]:
df_conteo2 = df_new.groupby('Ofensivo')['clean_tweet'].count().reset_index()
df_conteo2

In [60]:
new_df.to_csv('valuate_dataframe.csv', index=False)

In [ ]:
import matplotlib.pyplot as plt

# Crear una nueva columna basada en las condiciones (si es necesaria)
df_new['ambas'] = (df_new['Vulgar'] == 1)  | (df_new['Ofensivo'] == 1)

# Contar las ocurrencias de True/False en la columna 'huevo'
conteo_ambas = df_new['ambas'].value_counts()

# Crear el gr√°fico de pastel
plt.pie(conteo_ambas, labels=conteo_ambas.index, autopct='%1.1f%%', startangle=90, colors=['skyblue', 'orange'])
plt.show()

In [ ]:
conteo_ambas = df_new['ambas'].value_counts()
conteo_ambas